


        body {
            /* Top margin with the browser menu */
            min-height: 100vh;
            height: 100vh;
            margin:0;
            background-color: white;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start; /* stick content to the top */
            height: 100%;
            justify-content: space-between; /* spread items across the width with the menus on the sides*/
            gap: 5px;/* Left menu + Main content + menu */
            padding: 10px; /* space between the borders and the inner childs i.e. the menu to the left top and the right plot to the right and bottom*/
            box-sizing: border-box;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            /* spacing between elements and "walls" of menu */
            border: 2px solid black;
            border-radius: 10px;
            background-color: white;
            /* Full width of the column */
            box-sizing: border-box;
            /* Include padding and border in the element's total width, makes both menus appear equally "wide" */
        }

        .menu-container {
            
            display: flex;
            flex-direction: column;
            color: black;
            gap: 20px; /* Vertical space between menus */
        }

        .menu-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            /* Space between inputs */
            width: 100%; /* needed*/
        }

        .label-body {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            /* Space between inputs */
            width: 100%;
            white-space: nowrap;
            /* Prevent label text from wrapping */
        }

        .menu-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            /* Horizontal spacing between label and input */
            align-items: center;
            margin-bottom: 2px;
        }

        .menu label {
            font-size: 16px;
            /* Size of all the labels inside the menu */
            font-style: bold;
            width: 30%;
            white-space: nowrap;
            /* Prevent label text from wrapping */
        }

                /* Right-side plot area expands */
       /* .plot-area-wrapper {
            flex: 4; /* Occupy all remaining space */
            /*display: flex;
            padding: 0px; 
            overflow: auto; /* Allow vertical scrolling if plots exceed height */
          /*  gap: 10px;
        }
        */

                /* Right-side plot area expands */
        .plot-container {
            width: 100%;
            display: flex;
            padding: 0px; /* space between plots */
        }

         /* Ensure Plotly's internal div uses available space */
        .plotly-graph-div {
            width: 100% !important;
            height: 100% !important;
        }

        #buttonWrapper {
            position: absolute;
            width: 30px;
            top: 5px;
            right: 5px;
          }
          input[type="button"] {
            padding: 5px;
            width: 30px;
            margin: 0px 0px 2px 0px;
          }

          button:enabled {
            cursor:pointer
          }

          button:disabled {
            cursor:auto;
          }


        /* Close Button */
        .close-btn {
            top: 0px;
            left: 0px;
            background: none;
            border: none;
            color: white;
            font-size: 30px;
            z-index: 10;
        }

        .close-btn:hover {
            color: #f00;
        }

        .hidden {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }

        input[type="color"]:hover {
            transform: scale(1.1);
        }
        input[type="color"] {
            cursor: pointer;
        }

        .menu input,
        .menu select {
            font-size: 16px;
            /* Size of the input font */
            /*padding: 5px;*/
            border: 1px solid #444;
            border-radius: 5px;
            background-color:white;
            color: black;
            width: 35%;
        }

        .menu input:focus,
        .menu select:focus {
            outline: none;
            border-color: #666;
        }
        .menu input:disabled {
            background-color: #555;
            color: #888;
        }

        .menu-label {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 2px;
            margin-top: 20px;
        }
        
        button:disabled {
            cursor: auto;
        }

        button:enabled {
            cursor: pointer;
        }

        /* links */
        a {
            color: #00bfff;
            text-decoration: none;
            font-weight: bold;

        }
        a:visited {
            color:pink;
            text-decoration: none;
        }

        a:hover {
            color: #1e90ff;
            text-decoration: underline;
        }